.App {
  width: 100%;
  font-family: Sahitya;
  font-style: normal;
}

.blue {
  background-color: #273739;
  color: #FCEFEE;
}

.white {
  background-color: #FCEFEE;
  color: #3E3E3E;
}

.light {
  background-color: #76B1BA;
  color: black;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: #273739 !important;
}

h2, .text-center {
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em !important;
  margin-bottom: 2rem;
}

h4 {
  font-weight: 500 !important;
}

h3 {
  font-weight: 700;
  font-size: 2em !important;
}

p {
  font-weight: 200 !important;
}

.card {
  min-height: 30rem;
  color: #273739;
}

.owl-dots {
  display: none;
}

p.carousel_content {
  padding: 0 !important;
  text-align: center !important;
}

.carousel_content {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24.6719px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #FCEFEE;
}

/*  change */

.landing-page {
  background-image: url('/src/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FCEFEE;
  font-size: 80px !important;
}

.landing-page, .landing-page p {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about-page {
  position: relative;
  padding: 20px 60px;
  justify-content: center;
  font-family: Sahitya;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 56px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.about-page p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.FAQ-page {
  padding: 20px 15px;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  align-items: center;
  color: white;
}

.footer {
  padding: 20px 15px 0;
  font-family: Sahitya;
  font-size: 16px;
  line-height: 37px;
}

.services-page {
  padding: 20px 15px;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  align-items: center;
}

hr {
  border-top-color: #FCEFEE !important;
}

.footer div>a {
  text-decoration: none;
  color: #FCEFEE !important;
}

.nav-link {
  color: #FCEFEE !important;
}

.navbar-brand{
  font-size: 1.75rem !important;
  }
  
.card-img-top {
  height: 289px !important;
}

.bold {
  font-weight: 900;
}

.founder-img {
  display: block;
  width: 30%;
  border-radius: 60%;
}

.card-img, .card-img-top {
  height: 500px !important;
}

.carousel-inner>.item {
  -webkit-transition: -webkit-transform 0.3s ease-in-out !important;
  -o-transition: -o-transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
}

.para {
  line-height: 33px;
}

/* Responsive screens */

/* Tab screens */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 2.5em !important;
  }
  h4 {
    font-weight: 500 !important;
  }
  h5 {
    font-size: 1.5rem !important;
  }
  p {
    font-weight: 200 !important;
  }
  .landing-page {
    font-size: 60px;
    line-height: 100px;
  }
  .about-page {
    padding: 20px 15px;
    font-size: 20px;
    line-height: 37px;
  }
  .about-page p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .FAQ-page {
    padding: 20px 15px;
    font-size: 20px;
    line-height: 37px;
  }
  .services-page {
    padding: 20px 15px;
    font-family: Sahitya;
    font-size: 20px;
    line-height: 37px;
  }
  .carousel_content {
    padding: 1.5rem !important;
    font-size: 20px !important;
  }
}

/* Medium smart phones */

@media only screen and (min-width: 426px) and (max-width: 768px) {
  h2 {
    font-size: 2.5em !important;
  }
  h4 {
    font-weight: 500 !important;
  }
  h5 {
    font-size: 1.3rem !important;
  }
  p {
    font-weight: 200 !important;
  }
  .landing-page {
    font-size: 60px;
    line-height: 100px;
  }
  .navbar-brand{
    font-size: 1.25rem !important;
    }
  .about-page {
    padding: 20px 15px;
    font-size: 20px;
    line-height: 37px;
  }
  .about-page p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .FAQ-page {
    padding: 20px 15px;
    font-size: 20px;
    line-height: 37px;
  }
  .services-page {
    padding: 20px 15px;
    font-family: Sahitya;
    font-size: 20px;
    line-height: 37px;
  }
  .text-left {
    text-align: left;
  }
  .carousel_content {
    padding: 1.25rem !important;
    font-size: 18px !important;
  }
  .card-img, .card-img-top {
    height: 400px !important;
  }
}

/* Small smart phones */

@media only screen and (max-width: 426px) {
  h2 {
    font-size: 2em !important;
  }
  h4 {
    font-weight: 500 !important;
  }
  h5 {
    font-size: 1rem !important;
  }
  p {
    font-weight: 200 !important;
  }
  .landing-page, .landing-page p {
    height: 110vh;
    font-size: 50px;
    line-height: 100px;
  }
  .navbar-brand{
    font-size: .75rem !important;
    }
  .about-page {
    padding: 20px 15px;
    font-size: 15px;
    line-height: 37px;
  }
  .about-page p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .FAQ-page {
    padding: 20px 15px;
    font-size: 15px;
    line-height: 37px;
  }
  .services-page {
    padding: 20px 15px;
    font-size: 15px;
    line-height: 37px;
  }
  .carousel_content {
    padding: .5rem !important;
    font-size: 10px !important;
  }
  .card-img, .card-img-top {
    height: 300px !important;
  }
}